<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">

<title>Starter Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/starter-template.css" rel="stylesheet">


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<!-- Incorporo el menú de navegación de la página principal -->
	<nav th:insert="index.html :: nav">	</nav>

	<div class="container">
		<div class="starter-template">
			<h2>Resultados del proceso de importación</h2>
			Los datos se han importado correctamente. A continuación se muestra un resumen de la información procesada.
			<table class="table">
				<thead>
					<tr style="text-align: center">
						<td><b ></b></td>
						<td><b style="text-align: center">Valor</b></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b>Número de registros procesados. </b>Total de lineas de fichero procesadas.</td>
						<td th:text="${numRegistrosProcesados}" style="text-align: center" >..</td>
					</tr>
					<tr>
						<td><b>Número de alumnos. </b>Nuevos alumnos que han sido incorporados al sistema.</td>
						<td th:text="${numPersonas}" style="text-align: center">..</td>
					</tr>
					<tr>
						<td><b>Número de asignaturas. </b>Asignaturas nuevas incorporadas al sistema.</td>
						<td th:text="${numAsignaturas}" style="text-align: center">..</td>
					</tr>
															<tr>
						<td><b>Número de foros. </b>Foros nuevos incorporados al sistema.</td>
						<td th:text="${numForos}" style="text-align: center">..</td>
					</tr>
					<tr>
						<td><b>Número de mensajes. </b>Total de mensajes procesados.</td>
						<td th:text="${numMensajes}" style="text-align: center">..</td>
					</tr>					

				</tbody>	
			</table>
		</div>
	</div>
	
	<!-- /.container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>